﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using nuPickers;               @* Picker obj *@
@using nuPickers.VimeoPro; @* extension methods on Picker obj *@
@using nuPickers.VimeoPro.Model; @* VimeoVideo object*@
@{
    /*
     * Optional Macro Parameters: (define on macro in back-office)
     *
     *  int     contextId       - the current document / media or member being edited
     *  string  propertyAlias   - the property alias of the picker
     *  string  key             - the key value of the current item being processed
     *  string  label           - the label value of the current item being processed
     *  string  keys            - the full collection of all item keys as a csv
     *  int     counter         - the index of the current item being processed
     *  int     total           - the total number of items
     *
     */

    int contextId = int.Parse(Model.MacroParameters["contextId"].ToString()); // with propertyAlias, identifies current picker
    string propertyAlias = Model.MacroParameters["propertyAlias"].ToString(); // with contextId, identifies current picker
    string key = Model.MacroParameters["key"].ToString(); // identifies the current item

    Picker picker = new Picker(contextId, propertyAlias); // this is a generic nuPicker Picker obj (same as that returned by the PropertyValueConverter)
    VimeoVideo video = picker.GetVimeoVideo(key); // VimeoPicker specific extension methods are used with the generic Picker obj

    <h4>@video.Name</h4>
    <h5>@string.Join(", ", video.Tags.Select(t => t.Name))</h5>
    <p>Duration: @video.Duration Plays: @video.Stats.Plays Dimensions @video.Width x @video.Height</p>
    <a href="@video.Link" target="_blank">
        <img src="@video.Pictures.Select(p => p.Sizes.Where(s => s.Height == 150).Select(s => s.Link).FirstOrDefault()).FirstOrDefault()" />
    </a>

}